@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

/* Hide scrollbar for webkit based browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for moz based browsers */
::-moz-scrollbar {
  display: none;
}

/* Hide scrollbar for IE/Edge based browsers */
::-ms-scrollbar {
  display: none;
}

/* Hide scrollbar for all based browsers */
body::-webkit-scrollbar {
  display: none;
}

p.message-content {
  white-space: pre-wrap;
}
